body {
  background: #0D1117;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 20px 150px;
}

#menu {
  background-color: white;
  border-radius: 40px;
  grid-column: span 2;
}
#menu ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
#menu ul li {
  color: black;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#menu ul li a {
  text-decoration: none;
  color: black;
}
#menu ul li a:hover {
  color: rgb(105, 105, 105);
}

header {
  display: flex;
  height: 200px;
  padding: 61px 90px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 40px;
  background: linear-gradient(78deg, rgba(83, 52, 131, 0.06) 21.66%, rgba(233, 69, 96, 0.2) 63.03%), linear-gradient(96deg, #16213E 3.66%, #0F3460 62.8%);
  grid-column: span 2;
}
header p {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 100px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.bloco1 {
  display: flex;
  height: 400px;
  padding: 30px;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 40px;
}
.bloco1 h1 {
  color: #FFF;
  text-align: center;
  font-family: "Arial";
  font-size: 35px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: left;
}
.bloco1 .descricao_comando {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bloco1 .descricao_comando li {
  flex: 1 0 0;
  align-self: stretch;
  margin: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.bloco1 .descricao_comando .descricao_comando__codigo::before {
  content: "$";
  margin-right: 10px;
  color: white;
}
.bloco1 .descricao_comando .descricao_comando__codigo {
  background-color: black;
  padding: 10px;
  border-radius: 10px;
}

.bloco2 {
  display: flex;
  height: 400px;
  padding: 30px;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 40px;
}
.bloco2 h1 {
  color: #FFF;
  text-align: center;
  font-family: "Arial";
  font-size: 35px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: left;
}
.bloco2 .descricao_comando {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bloco2 .descricao_comando li {
  flex: 1 0 0;
  align-self: stretch;
  margin: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.bloco2 .descricao_comando .descricao_comando__codigo::before {
  content: "$";
  margin-right: 10px;
  color: white;
}
.bloco2 .descricao_comando .descricao_comando__codigo {
  background-color: black;
  padding: 10px;
  border-radius: 10px;
}

.bloco3 {
  display: flex;
  height: 400px;
  padding: 30px;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 40px;
}
.bloco3 h1 {
  color: #FFF;
  text-align: center;
  font-family: "Arial";
  font-size: 35px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: left;
}
.bloco3 .descricao_comando {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bloco3 .descricao_comando li {
  flex: 1 0 0;
  align-self: stretch;
  margin: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.bloco3 .descricao_comando .descricao_comando__codigo::before {
  content: "$";
  margin-right: 10px;
  color: white;
}
.bloco3 .descricao_comando .descricao_comando__codigo {
  background-color: black;
  padding: 10px;
  border-radius: 10px;
}

.bloco4 {
  display: flex;
  height: 400px;
  padding: 30px;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 40px;
}
.bloco4 h1 {
  color: #FFF;
  text-align: center;
  font-family: "Arial";
  font-size: 35px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: left;
}
.bloco4 .descricao_comando {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bloco4 .descricao_comando li {
  flex: 1 0 0;
  align-self: stretch;
  margin: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.bloco4 .descricao_comando .descricao_comando__codigo::before {
  content: "$";
  margin-right: 10px;
  color: white;
}
.bloco4 .descricao_comando .descricao_comando__codigo {
  background-color: black;
  padding: 10px;
  border-radius: 10px;
}

.bloco5 {
  display: flex;
  height: 400px;
  padding: 30px;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 40px;
}
.bloco5 h1 {
  color: #FFF;
  text-align: center;
  font-family: "Arial";
  font-size: 35px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: left;
}
.bloco5 .descricao_comando {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bloco5 .descricao_comando li {
  flex: 1 0 0;
  align-self: stretch;
  margin: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.bloco5 .descricao_comando .descricao_comando__codigo::before {
  content: "$";
  margin-right: 10px;
  color: white;
}
.bloco5 .descricao_comando .descricao_comando__codigo {
  background-color: black;
  padding: 10px;
  border-radius: 10px;
}

.bloco6 {
  display: flex;
  height: 400px;
  padding: 30px;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 40px;
}
.bloco6 h1 {
  color: #FFF;
  text-align: center;
  font-family: "Arial";
  font-size: 35px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: left;
}
.bloco6 .descricao_comando {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bloco6 .descricao_comando li {
  flex: 1 0 0;
  align-self: stretch;
  margin: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.bloco6 .descricao_comando .descricao_comando__codigo::before {
  content: "$";
  margin-right: 10px;
  color: white;
}
.bloco6 .descricao_comando .descricao_comando__codigo {
  background-color: black;
  padding: 10px;
  border-radius: 10px;
}

.bloco7 {
  display: flex;
  height: 400px;
  padding: 30px;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 40px;
}
.bloco7 h1 {
  color: #FFF;
  text-align: center;
  font-family: "Arial";
  font-size: 35px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: left;
}
.bloco7 .descricao_comando {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bloco7 .descricao_comando li {
  flex: 1 0 0;
  align-self: stretch;
  margin: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.bloco7 .descricao_comando .descricao_comando__codigo::before {
  content: "$";
  margin-right: 10px;
  color: white;
}
.bloco7 .descricao_comando .descricao_comando__codigo {
  background-color: black;
  padding: 10px;
  border-radius: 10px;
}

.bloco8 {
  display: flex;
  height: 400px;
  padding: 30px;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 40px;
}
.bloco8 h1 {
  color: #FFF;
  text-align: center;
  font-family: "Arial";
  font-size: 35px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: left;
}
.bloco8 .descricao_comando {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bloco8 .descricao_comando li {
  flex: 1 0 0;
  align-self: stretch;
  margin: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.bloco8 .descricao_comando .descricao_comando__codigo::before {
  content: "$";
  margin-right: 10px;
  color: white;
}
.bloco8 .descricao_comando .descricao_comando__codigo {
  background-color: black;
  padding: 10px;
  border-radius: 10px;
}

.bloco9 {
  display: flex;
  height: 400px;
  padding: 30px;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 40px;
}
.bloco9 h1 {
  color: #FFF;
  text-align: center;
  font-family: "Arial";
  font-size: 35px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: left;
}
.bloco9 .descricao_comando {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bloco9 .descricao_comando li {
  flex: 1 0 0;
  align-self: stretch;
  margin: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.bloco9 .descricao_comando .descricao_comando__codigo::before {
  content: "$";
  margin-right: 10px;
  color: white;
}
.bloco9 .descricao_comando .descricao_comando__codigo {
  background-color: black;
  padding: 10px;
  border-radius: 10px;
}

.bloco10 {
  display: flex;
  height: 400px;
  padding: 30px;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 40px;
}
.bloco10 h1 {
  color: #FFF;
  text-align: center;
  font-family: "Arial";
  font-size: 35px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: left;
}
.bloco10 .descricao_comando {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bloco10 .descricao_comando li {
  flex: 1 0 0;
  align-self: stretch;
  margin: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.bloco10 .descricao_comando .descricao_comando__codigo::before {
  content: "$";
  margin-right: 10px;
  color: white;
}
.bloco10 .descricao_comando .descricao_comando__codigo {
  background-color: black;
  padding: 10px;
  border-radius: 10px;
}

.bloco11 {
  display: flex;
  height: 400px;
  padding: 30px;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 40px;
}
.bloco11 h1 {
  color: #FFF;
  text-align: center;
  font-family: "Arial";
  font-size: 35px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: left;
}
.bloco11 .descricao_comando {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bloco11 .descricao_comando li {
  flex: 1 0 0;
  align-self: stretch;
  margin: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.bloco11 .descricao_comando .descricao_comando__codigo::before {
  content: "$";
  margin-right: 10px;
  color: white;
}
.bloco11 .descricao_comando .descricao_comando__codigo {
  background-color: black;
  padding: 10px;
  border-radius: 10px;
}

.bloco12 {
  display: flex;
  height: 400px;
  padding: 30px;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 40px;
}
.bloco12 h1 {
  color: #FFF;
  text-align: center;
  font-family: "Arial";
  font-size: 35px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: left;
}
.bloco12 .descricao_comando {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bloco12 .descricao_comando li {
  flex: 1 0 0;
  align-self: stretch;
  margin: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.bloco12 .descricao_comando .descricao_comando__codigo::before {
  content: "$";
  margin-right: 10px;
  color: white;
}
.bloco12 .descricao_comando .descricao_comando__codigo {
  background-color: black;
  padding: 10px;
  border-radius: 10px;
}

.bloco13 {
  display: flex;
  height: 400px;
  padding: 30px;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 40px;
}
.bloco13 h1 {
  color: #FFF;
  text-align: center;
  font-family: "Arial";
  font-size: 35px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: left;
}
.bloco13 .descricao_comando {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bloco13 .descricao_comando li {
  flex: 1 0 0;
  align-self: stretch;
  margin: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.bloco13 .descricao_comando .descricao_comando__codigo::before {
  content: "$";
  margin-right: 10px;
  color: white;
}
.bloco13 .descricao_comando .descricao_comando__codigo {
  background-color: black;
  padding: 10px;
  border-radius: 10px;
}

.bloco14 {
  display: flex;
  height: 400px;
  padding: 30px;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 40px;
}
.bloco14 h1 {
  color: #FFF;
  text-align: center;
  font-family: "Arial";
  font-size: 35px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: left;
}
.bloco14 .descricao_comando {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bloco14 .descricao_comando li {
  flex: 1 0 0;
  align-self: stretch;
  margin: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.bloco14 .descricao_comando .descricao_comando__codigo::before {
  content: "$";
  margin-right: 10px;
  color: white;
}
.bloco14 .descricao_comando .descricao_comando__codigo {
  background-color: black;
  padding: 10px;
  border-radius: 10px;
}

.bloco15 {
  display: flex;
  height: 400px;
  padding: 30px;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 40px;
}
.bloco15 h1 {
  color: #FFF;
  text-align: center;
  font-family: "Arial";
  font-size: 35px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: left;
}
.bloco15 .descricao_comando {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bloco15 .descricao_comando li {
  flex: 1 0 0;
  align-self: stretch;
  margin: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.bloco15 .descricao_comando .descricao_comando__codigo::before {
  content: "$";
  margin-right: 10px;
  color: white;
}
.bloco15 .descricao_comando .descricao_comando__codigo {
  background-color: black;
  padding: 10px;
  border-radius: 10px;
}

.bloco16 {
  display: flex;
  height: 400px;
  padding: 30px;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 40px;
}
.bloco16 h1 {
  color: #FFF;
  text-align: center;
  font-family: "Arial";
  font-size: 35px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: left;
}
.bloco16 .descricao_comando {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bloco16 .descricao_comando li {
  flex: 1 0 0;
  align-self: stretch;
  margin: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.bloco16 .descricao_comando .descricao_comando__codigo::before {
  content: "$";
  margin-right: 10px;
  color: white;
}
.bloco16 .descricao_comando .descricao_comando__codigo {
  background-color: black;
  padding: 10px;
  border-radius: 10px;
}

.bloco17 {
  display: flex;
  height: 400px;
  padding: 30px;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 40px;
}
.bloco17 h1 {
  color: #FFF;
  text-align: center;
  font-family: "Arial";
  font-size: 35px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: left;
}
.bloco17 .descricao_comando {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bloco17 .descricao_comando li {
  flex: 1 0 0;
  align-self: stretch;
  margin: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.bloco17 .descricao_comando .descricao_comando__codigo::before {
  content: "$";
  margin-right: 10px;
  color: white;
}
.bloco17 .descricao_comando .descricao_comando__codigo {
  background-color: black;
  padding: 10px;
  border-radius: 10px;
}

.bloco18 {
  display: flex;
  height: 400px;
  padding: 30px;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 40px;
}
.bloco18 h1 {
  color: #FFF;
  text-align: center;
  font-family: "Arial";
  font-size: 35px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: left;
}
.bloco18 .descricao_comando {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bloco18 .descricao_comando li {
  flex: 1 0 0;
  align-self: stretch;
  margin: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.bloco18 .descricao_comando .descricao_comando__codigo::before {
  content: "$";
  margin-right: 10px;
  color: white;
}
.bloco18 .descricao_comando .descricao_comando__codigo {
  background-color: black;
  padding: 10px;
  border-radius: 10px;
}

.bloco19 {
  display: flex;
  height: 400px;
  padding: 30px;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 40px;
}
.bloco19 h1 {
  color: #FFF;
  text-align: center;
  font-family: "Arial";
  font-size: 35px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: left;
}
.bloco19 .descricao_comando {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bloco19 .descricao_comando li {
  flex: 1 0 0;
  align-self: stretch;
  margin: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.bloco19 .descricao_comando .descricao_comando__codigo::before {
  content: "$";
  margin-right: 10px;
  color: white;
}
.bloco19 .descricao_comando .descricao_comando__codigo {
  background-color: black;
  padding: 10px;
  border-radius: 10px;
}

.bloco20 {
  display: flex;
  height: 400px;
  padding: 30px;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 40px;
}
.bloco20 h1 {
  color: #FFF;
  text-align: center;
  font-family: "Arial";
  font-size: 35px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: left;
}
.bloco20 .descricao_comando {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bloco20 .descricao_comando li {
  flex: 1 0 0;
  align-self: stretch;
  margin: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.bloco20 .descricao_comando .descricao_comando__codigo::before {
  content: "$";
  margin-right: 10px;
  color: white;
}
.bloco20 .descricao_comando .descricao_comando__codigo {
  background-color: black;
  padding: 10px;
  border-radius: 10px;
}

.bloco21 {
  display: flex;
  height: 400px;
  padding: 30px;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 40px;
}
.bloco21 h1 {
  color: #FFF;
  text-align: center;
  font-family: "Arial";
  font-size: 35px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: left;
}
.bloco21 .descricao_comando {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bloco21 .descricao_comando li {
  flex: 1 0 0;
  align-self: stretch;
  margin: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.bloco21 .descricao_comando .descricao_comando__codigo::before {
  content: "$";
  margin-right: 10px;
  color: white;
}
.bloco21 .descricao_comando .descricao_comando__codigo {
  background-color: black;
  padding: 10px;
  border-radius: 10px;
}

.bloco22 {
  display: flex;
  height: 400px;
  padding: 30px;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 40px;
}
.bloco22 h1 {
  color: #FFF;
  text-align: center;
  font-family: "Arial";
  font-size: 35px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: left;
}
.bloco22 .descricao_comando {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bloco22 .descricao_comando li {
  flex: 1 0 0;
  align-self: stretch;
  margin: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.bloco22 .descricao_comando .descricao_comando__codigo::before {
  content: "$";
  margin-right: 10px;
  color: white;
}
.bloco22 .descricao_comando .descricao_comando__codigo {
  background-color: black;
  padding: 10px;
  border-radius: 10px;
}

.bloco23 {
  display: flex;
  height: 400px;
  padding: 30px;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 40px;
}
.bloco23 h1 {
  color: #FFF;
  text-align: center;
  font-family: "Arial";
  font-size: 35px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: left;
}
.bloco23 .descricao_comando {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bloco23 .descricao_comando li {
  flex: 1 0 0;
  align-self: stretch;
  margin: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.bloco23 .descricao_comando .descricao_comando__codigo::before {
  content: "$";
  margin-right: 10px;
  color: white;
}
.bloco23 .descricao_comando .descricao_comando__codigo {
  background-color: black;
  padding: 10px;
  border-radius: 10px;
}

.fundo_video {
  background-color: white;
  width: 100%;
  height: 100%;
  grid-column: span 2;
}

mark {
  grid-column: span 2;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  background-color: white;
  color: black;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 10px;
}/*# sourceMappingURL=main.css.map */